@charset "utf-8";

/* ---------------------------------车辆信息栏-------------------------------------- */

.bus-info {
  padding: 0;
}

.bus-info .bus-detail {
  margin-top: 14px;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.bus-detail .bus-detail-table {
  margin-top: 10px;
  width: 100%;
  height: 100%;
  border-collapse: collapse;
}

.bus-detail .bus-detail-table td {
  border: 1px solid #017be3;
  border-right: none;
  text-align: center;
  line-height: 25px;
  font-size: 14px;
}
.bus-detail .bus-detail-table td:first-child {
  color: #00ffea;
  font-weight: bold;
}